services:
  db:
    image: postgres:17.6
    container_name: dynamic-website-db-prod
    command:
          [
              "postgres",
              "-c",
              "max_connections=300",
              "-c",
              "shared_buffers=256MB",
          ]
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - psql-network
    
  dynamic-website-drizzle-gateway:
    image: ghcr.io/drizzle-team/gateway:latest
    container_name: dynamic-website-drizzle-gateway-prod
    restart: unless-stopped
    ports:
      - "6600:6600"
    environment:
      - name=value